* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    text-decoration: none;
    
}
header {
    background-color: #1B54DD;
    width: 100%;
    padding: 0% 10%;

    display: flex;
    flex-flow: column;
    align-items: center;
}
h1,
.bottomLine:last-child {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    width: 50%;
}
.item {
    padding: 1em;
    color: white;
    display: flex;
    justify-content: center;
}
.btn {
    padding: 1em;
    background-color: #1B54DD;
}
main {
    padding: 0% 10%;
}
.block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 0%;
}
.block:last-child {
    justify-content: center;
}
.miniBlock {
    width: 50%;
}
.line {
    padding: 1% 0%;
}
footer {
    display: flex;
    background-color: #E8E8E8;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.bottomLine:first-child {
    display: flex;
    flex-flow: row;
}
.three {
    width: 35%;
}
article.bottomLine {
    display: flex;
    justify-content: center;
}
.mainLine {
    padding: 3% 0%;
}
.btn:hover{
    background-color: bisque;
}